.prod-container{
    display: flex;
    /* background-color: khaki; */
    border: 2px solid #494949;
    /* border-color: black;
    border-width: 10px;
    border-style: solid; */
    gap: 1%;
    width: 99%;
    margin-top: 5%;
    border-radius: 20px;
}

.prod-container-child {
    flex-grow: 1;

    color: #494949;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 20pt;
    align-self: center;
}

.btn-tocart {
    width: 80%;
    min-height: 40px;

    color: #ffffff;
    align-self: center;
    font-weight: bold;
    font-size: 16px;
    
    border: none;
    box-shadow: 0 10px 5px black ;

    border-radius: 20px;
    background-color: #88bc23;
}

.btn-tocart:hover {
    cursor: pointer;
    text-decoration: underline;
}

li {
    font-size: 16px;
}